/* src/styles/Navbar.module.css */

.nav {
  display: flex;
  justify-content: space-between; /* space between title and links */
  align-items: center;
  background-color: #fff;
  padding: 17px 24px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border-bottom: 0.5px solid gainsboro;
}

.title {
  font-size: 23px;
  color: #000000;
}

.list {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-top: 5px; 
  padding: 0; 
}

.link {
  text-decoration: none;
  color: #222222;
  font-weight: 500;
  margin-left:30px;
}
